<form action="/users" method="post">
    <h2>Insert your data</h2>
        <label for="firstname">firstname</label>
        <input type="text" name="firstname" id="firstname"><br>
        <label for="lastname">lastname</label>
        <input type="text" name="lastname" id="lastname"><br>
        <label for="email">email</label>
        <input type="text" name="email" id="email"><br>
        <input type="submit" value="SAVE">
</form>